<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>List of all books</title>
        <link th:href="@{/styles/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="container-title">
            <h1>Books</h1>
        </div>
        <div class="container-data">
            <table class="table-books">
                <thead>
                    <tr>
                       <th>ID</th>
                       <th>Name</th>
                       <th>Author</th>
                       <th>Genre</th>
                       <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}" th:object="${book}" >
                        <td th:text="*{id}">100</td>
                        <td><a href="#" th:text="*{name}" th:href="@{/view/book(id=*{id})}">Test</a></td>
                        <td th:text="*{author.name} + ' ' + *{author.surname}">Test Testov</td>
                        <td th:text="*{genre.name}">Test genre</td>
                        <td class="action"><a href="#" th:href="@{/edit/book(id=*{id})}">edit</a></td>
                        <td class="action"><a href="#" th:href="@{/delete/book(id=*{id})}" th:method="delete">delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-action">
            <a href="#" th:href="@{/add/book}">add book</a>
        </div>
    </body>
</html>